<li>
	<%= icon_link_button "/", "home-button-icon" %>
</li>

<li>
	<%= icon_link_button clientes_path, "list-button-icon" %>
</li>

<li>
	<%= icon_link_button new_cliente_path, "new-button-icon" %>
</li>

<li>
	<%= link_to "#" do %>
	<% (content_tag :i, "",  class: "print-button-icon", onclick: "window.print()")%>
	<%end %>
</li>
