<div class="panel panel-success">
	<%= show_header('') %>
	<%= data_table(@clientes, [:documento, :razaosocial, :nomefantasia, :tipo, :telefone]) %>
</div>
<%= link_button '.novocliente', new_cliente_path %>
