.form {
	width: 40%;
	position: fixed;
	left: 50%;
	margin-left: -25%;
}

col-lg-full {
	width: 100%
}

input.form-btn {
	float: right;
}

.show-title {
	font-size: 20px;
}

.row {
	width: 100%;
	overflow: hidden;
	#background: lime;
}
.full-cell {
	width: 100%;
	padding: 10px;
	float: left;
	#background: orange;
}
.cell {
	width: 50%;
	padding: 10px;
	float: left;
	#background: orange;
}​

