.form {
	width: 40%;
	position: fixed;
	left: 50%;
	margin-left: -25%;
}

col-lg-full {
	width: 100%
}

input.form-btn {
	float: right;
}

.show-title {
	font-size: 20px;
}

.row {
	width: 100%;
	overflow: hidden;
}
.full-cell {
	width: 100%;
	padding: 10px;
	float: left;
}
.cell {
	width: 50%;
	padding: 10px;
	float: left;
}
input.form-input-text-error {
	border-color: #B00100;
}
span.error_message {
	color: #B00100;
}

.edit-button-icon {
	content: "";
	display: block;
	background: url("icoMoon/0006-pencil.png") no-repeat;
	width: 32px;
	height: 32px;
	float: left;
	margin: 0 6px 0 0;
}

.delete-button-icon {
	content: "";
	display: block;
	background: url("icoMoon/0272-cross.png") no-repeat;
	width: 32px;
	height: 32px;
	float: left;
	margin: 0 6px 0 0;
}

.back-button-icon {
	content: "";
	display: block;
	background: url("icoMoon/0104-undo2.png") no-repeat;
	width: 32px;
	height: 32px;
	float: left;
	margin: 0 6px 0 0;
}
